
/*------CONTAINER CENTRAL------------*/
.content{
    box-shadow: 0px 0px 3px 2px #999;
    height: 1000px;
    padding: 0px;
    margin-bottom: 100px;
  }
  .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
   }
   .content h3{
    padding: 50px;
    text-align: center;
  }
  .pseudoCode{
    margin:0 auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom:50px;
    background-color: #d8e4d8;
    border-radius: 6px;
  }
  textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #dae0da;
    border: none;
  }
  .pseudoCode h4{
    margin-bottom: 10px;
    padding: 40px;
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
  }
  .pseudoCode p{
   font-size: 18px;
   padding: 23px;
   
  }
 
.language input{
  margin-right: 20px;
}
.hide {
    display: none;
}
  .card-header p{
    text-transform: uppercase;
    text-align: center;
  }
  /*---------------FORM------------*/
  .txt_javascript{
    background-color:  #dae0da;
  }
  form{
    padding: 30px;
    border-radius: 6px;
    background-color:  #dae0da;
  }
  .myResult{
    background-color:  #dae0da;
  }
  form h3{
    margin-bottom: 20px;
  }
    .card-body p{
      margin:0;
      width: 100%;
      border:1px solid #000; 
      border-radius: 6px;
      padding:30px;
      font-weight: 500;
      font-size: 18px;
    }
    
    
    .language{
      display:flex;
      justify-content: space-around;
      text-decoration: none;
      background-color:  #d8e4d8;
    }
      .language button{
        color: #000;
        margin:20px;
        height: 60px;
        width: 120px;
        background-color:green; 
        background-image:-webkit-linear-gradient(top,#fff 0%, whitesmoke 100%);
      background-image: linear-gradient(to bottom, #999 0%,  whitesmoke 100%);
        border-radius: 6px;
        box-shadow: 3px 3px 3px #999;
        border:solid 1px #333A40
      }
      .language button:hover{
        background: chartreuse;
      }
      .language input{
        margin-top: 30px;
        height: 25px;
        width: normal;
      }

.myResult{
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 10px;
}     
/*-----------ASIDE RIGHT----------*/
.contentRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 3px 2px #999;
  height: 1000px;
}
  .myCodeRight{
    margin: 0 auto!important;
    text-align: center!important;
  }
  .contentRight img{
    width: 100px;
    margin: 10px;
    cursor: pointer;
  }
  .cours a{
    color: #000;
    margin:25px 0px;
    text-align: center;
    padding: 25px!important;
    height: 80px!important;
    width: 100%!important;
    text-decoration: none;
    background-color:chartreuse; 
    background-image:-webkit-linear-gradient(top,#fff 0%, whitesmoke 100%);
    background-image: linear-gradient(to bottom, #999 0%,  whitesmoke 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40
  }
    .cours button:hover,.cours a:hover{
      background: chartreuse;
    }
    .cours h5{
      text-align: center;
      padding: 15px;
      margin: 20px;
      border:solid 1px #333A40;
      border-radius: 6px;
    }
    /*-----------FOOTER----------*/
footer{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 50px 20px;
  border-radius: 20%;
  border: 1px solid #999;
  border-bottom:none;
  border-left:none;
  border-right: none;
  text-align: center;
  padding: 20px;
  width: 75%;
  margin: 0 auto!important;
  height: 150px;
}
   footer svg{
    color: #999;
   }

