/*-------GENERAL--------*/
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image:linear-gradient(olivedrab ,#fff);
  width: 100%;
}
li{
  list-style: none;
}
a{
  color:olivedrab;
  text-decoration: none;
}
h3,h4,h5,p{
  display: block;
  font-family: 'Piazzolla', serif;
  letter-spacing: 1px;
  color:#333A40;
 }
.home{
  width:75%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px #999;
}

/*----------CONTAINER-----------*/
.container-fluid{
  margin-top:250px;
  margin-bottom: 100px;
}
  .container-fluid h4{
    margin-bottom: 10px;
    padding: 50px;
    text-align: center;
    font-weight: 500;
  }
  .container-fluid hr{
    margin-bottom: 50px;
    color: #c5e4c5!important;
  }
  /*--------NAVBAR------------*/
.fixed-top{
  justify-content: space-between;
   }
   .navbar{
      height: 80px;
      box-shadow: 0px 2px 0px 0px #999;
      background-color: #fff!important;
      justify-content: space-between;
      flex-direction: row-reverse;
      color:#333A40;
      text-align: center;
   }
   .navbar-toggler-icon{
     color:olivedrab!important;
   }
  

.myAside{
    height: 1000px;
    box-shadow: 0px 0px 3px 2px #999;
}
/*------CONTAINER CENTRAL------------*/
.content{
  box-shadow: 0px 0px 3px 2px #999;
    height: 1000px;
    padding: 0px;
    margin-bottom: 100px;
  }
  .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   }
   .content h3{
    padding: 50px;
    text-align: center;
  }
  .pseudoCode{
    width: 75%;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom:50px;
    border:1px solid olivedrab;
    background-color: #d8e4d8;
    border-radius: 6px;
  }
  .pseudoCode h4{
    text-align: center;
  }
  .pseudoCode p{
    padding: 15px;
  }
.language input{
  width: 60px;
}
.hide {
    display: none;
}
  .card-header p{
    text-transform: uppercase;
    text-align: center;
  }
  form{
    padding: 30px;
    background-color:  #d8e4d8;
    border-radius: 6px;
  }
  form h3{
    margin-bottom: 50px;
  }
  .card-body{
  text-align: center;
  padding: 50px;
  }
    .card-body p{
      margin: 50px;
      background-color: #d8e4d8;
      border:1px solid olivedrab;
      border-radius: 6px;
      padding:65px;
      font-weight: 500;
      font-size: 18px;
    }
    
    #menu-accordeon {
      padding:0;
      margin:20px;
      list-style:none;
      text-align: center;
     
    }
    #menu-accordeon ul {
      padding:0;
      margin:0;
      list-style:none;
      text-align: center;
    }
    #menu-accordeon li {
       background-color:#729EBF; 
       background-image:-webkit-linear-gradient(top, olivedrab 0%,#c5e4c5 100%);
       background-image: linear-gradient(to bottom, olivedrab 0%, #c5e4c5 100%);
       border-radius: 6px;
       margin-bottom:2px;
       box-shadow: 2px 2px 2px #999;
       border:solid 1px #333A40;
    }
    #menu-accordeon li li {
       max-height:0;
       overflow: hidden;
       transition: all .5s;
       border-radius:0;
       background: #fff;
       box-shadow: none;
       border:none;
       margin:0
    }
    #menu-accordeon a {
      display:block;
      text-decoration: none;
      font-weight: normal;
      color: #000;
      padding: 20px 0;
      font-size:1.2em
    }
    #menu-accordeon ul li a, #menu-accordeon li:hover li a {
      font-size:1em
    }
    #menu-accordeon li:hover {
       background: #c5e4c5;
    }
    #menu-accordeon li li:hover {
       background:#c5e4c5;
    }
    #menu-accordeon ul li:last-child {
       border-radius: 0 0 6px 6px;
       border:none;
    }
    #menu-accordeon li:hover li {
      max-height: 15em;
    }
    .language{
      display:flex;
     justify-content: space-around;
     text-decoration: none;
     background-color:  #d8e4d8;
    }
      .language button{
          color: #000;
          margin:20px;
          height: 60px;
          width: 120px;
          background-color:olivedrab; 
          background-image:-webkit-linear-gradient(top, olivedrab 0%, #c5e4c5 100%);
          background-image: linear-gradient(to bottom, olivedrab 0%, #c5e4c5 100%);
          border-radius: 6px;
          box-shadow: 3px 3px 3px #999;
          border:solid 1px #333A40
      }
      .language button:hover{
        background: #c5e4c5;
        color: #000;
      }
      .language input{
       
        margin-top: 30px;
        height: 25px;
        width: normal;
      }

.myResult{
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 10px;
}     
/*-----------ASIDE RIGHT----------*/
.contentRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 2px #999;
    height: 1000px;
}
    .myCodeRight{
      margin: 0 auto!important;
      text-align: center!important;
    }
    .contentRight img{
    width: 100px;
    margin: 10px;
    cursor: pointer;
    }
    .cours a{
      color: #000;
      margin:80px 50px;
      text-align: center;
      padding: 7px 20px!important;
      height: 40px!important;
      width: 80px!important;
      text-decoration: none;
      background-color:olivedrab; 
      background-image:-webkit-linear-gradient(top, olivedrab 0%, #c5e4c5 100%);
      background-image: linear-gradient(to bottom, olivedrab 0%, #c5e4c5 100%);
      border-radius: 6px;
      box-shadow: 3px 3px 3px #999;
      border:solid 1px #333A40
}
    .cours button:hover,.cours a:hover{
      background: #c5e4c5;
      color: #000;
    }
    /*-----------FOOTER----------*/
footer{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 50px 20px;
  border-radius: 20%;
  border: 1px solid #999;
  border-bottom:none;
  border-left:none;
  border-right: none;
  text-align: center;
  padding: 20px;
  width: 75%;
  margin: 0 auto!important;
  height: 150px;
}
   footer svg{
    color: olivedrab;


   }/* Tablettes 'n' Mobiles */
   @media only screen and (max-width: 1524px) {
    .cours a{
    margin: 60px -3px;
    text-align: center;
    padding: 15px;
    height: 60px;
    width: 100px;
    }
    .contentRight img {
      margin: 0;
    }
  }
@media only screen and (max-width: 1024px) {

  .cours a{
  margin: 60px -3px;
  text-align: center;
  padding: 15px;
  height: 60px;
  width: 100px;
  }
  .contentRight img {
    margin: 0;
  }
}

@media only screen and (max-width: 960px) {
  #menu-accordeon {
   width: 100px;
   margin: 0;
  }
  .cours a{
    margin: 60px -3px;
    text-align: center;
    padding: 15px;
    height: 60px;
    width: 100px;
    }
  .contentRight img {
    margin: 0;
  }  
  .card-body p{
    margin: 20px;
    padding:5px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  #menu-accordeon {
    width: 100px;
    margin: 0;
   }
   .cours a{
     margin: 60px -3px;
     text-align: center;
     padding: 15px;
     height: 60px;
     width: 100px;
     }
   .contentRight img {
     margin: 0;
   }
   .card-body p{
    margin: 0px;
    padding:10px;
    font-size: 18px;
  }  
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 380px) {
}

@media only screen and (max-width: 320px) {
}

/* IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)	{
}

/* IE Edge 12+ CSS */ 
@supports (-ms-accelerator:true) {
}
